$game-orange: #ffa935;
$game-blue: #7bcdff;
$game-green: #d3cd5a;
$game-purple: #d4bbf5;
$game-pink: #ffa8a7;

$post-it-black: #222222;

$enable-rounded: false;

$primary: $game-blue;
$secondary: $game-orange;
$success: #28a745;
$info: #584b07;
$warning: #ffc107;
$danger: #dc3545;
$light: $game-green;
$dark: darken($game-blue, 60%);

$white: #fff;

$font-family-sans-serif: Cabin, sans-serif;
$headings-font-family: Arvo, serif;
$headings-margin-bottom: 0.3rem;
